<div class="order-tracker">
    <div>
        <mat-icon class="confirmed">shopping_cart</mat-icon><strong> Order Placed</strong>
    </div>
    <div class="separator"></div> <!-- Horizontal line div -->

    <div [ngClass]="paymentStatus.toLowerCase() === 'failed' ? 'failed' : 'confirmed'">
        <mat-icon>payments</mat-icon><strong> Payments {{paymentStatus}}</strong>
    </div>
    <div class="separator"></div> <!-- Horizontal line div -->

    <div [ngClass]="steps[2] === 'Order Cancelled' ? 'cancelled' : 'confirmed'">
        <mat-icon>{{ steps[2] === 'Order Cancelled' ? 'cancel' : 'check_circle' }}</mat-icon>
        <strong> {{ steps[2] }}</strong>
    </div>
    <div class="separator"></div> <!-- Horizontal line div -->

    <div [ngClass]="orderStatus === 'shipped' || orderStatus === 'outForDelivery' || orderStatus === 'delivered' ? 'confirmed' : ''">
        <mat-icon>local_shipping</mat-icon><strong> Shipped</strong>
    </div>
    <div class="separator"></div> <!-- Horizontal line div -->

    <div [ngClass]="orderStatus === 'outForDelivery' || orderStatus === 'delivered' ? 'confirmed' : ''">
        <mat-icon>local_shipping</mat-icon><strong> Out For Delivery</strong>
    </div>
    <div class="separator"></div> <!-- Horizontal line div -->

    <div [ngClass]="orderStatus === 'delivered' ? 'confirmed' : ''">
        <mat-icon>home</mat-icon><strong> Delivered</strong>
    </div>
</div>