<mat-card class="product-card">

  <div class="badge-container">
    <span class="badge sale-badge" *ngIf="product.isFeatured">Featured</span>
    <span class="badge mx-2" *ngIf="product.isOnDiscount">{{ product.discountPercentage }}%</span>
  </div>

  <img class="mat-card-image" [src]="imageUrl + 'image/' + product.thumbnail?.imageUrl" width="50">
  <div class="action-icons">
    <button mat-icon-button matTooltip="View Details"
      [routerLink]="['product',product.id]"><mat-icon>visibility</mat-icon></button>
      <button mat-icon-button matTooltip="Add To WishList"
      (click)="addToWishList(product.id)">
  <mat-icon [ngClass]="{'favorite-icon': isInWishlist(product.id)}">favorite</mat-icon>
</button>

  </div>


  <mat-card-content class="product-card-content">
    <div class="category">{{ product.category.name }}</div>
    <h2 class="product-name">{{ product.name }}</h2>

  </mat-card-content>

  <mat-card-actions class="product-card-action">
    <div class="price">
      <span class="current-price">{{ product.newPrice|currency:'INR' }}</span>
      <span class="old-price" *ngIf="product.isOnDiscount">{{ product.originalPrice|currency:'INR' }}</span>
    </div>
  </mat-card-actions>
</mat-card>