<div class="home container">
  <div class="marquee">
    <span>🚨 Unbelievable Deal Alert! Get 50% OFF on all items! Limited time offer! 🚨</span>
</div>
    <section class="carousel mt-5">
      <owl-carousel-o [options]="bannerOptions">
        <ng-container *ngFor="let slide of bannerStore">
          <ng-template carouselSlide [id]="slide.id">
            <img [src]="slide.src" alt="first slide" class="banner-c-img" style="display: block; width: 100%;">
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </section>
    <br><br><br><br><br>
</div>
