.product-list-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
    margin-left: 350px;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th, td {
      padding: 12px 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    tr:hover {
      background-color: #f1f1f1;
    }
  }
  
  .delete-button {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
  
    &:hover {
      color: #ff0000;
    }
  }
  
  .material-icons {
    vertical-align: middle;
  }

  .dialog-container {
    padding: 20px;
    text-align: center;
  }
  
  .dialog-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .dialog-container p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .dialog-container .mat-dialog-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-button {
    background-color: #f06055;
    color: white;
  }
  .center-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .center-title {
    justify-content: center;
  }
 
  
  .confirm-button {
    background-color: #62ce66;
    color: white;
  }
  
  .cancel-button:hover, .confirm-button:hover {
    opacity: 0.8;
  }
  
.go-back {
    margin-top: -40px; /* Adjust this value as needed to position below the navbar */
    margin-left: 40px; /* Adjust this value for spacing from the left */
    display: flex;
    position: absolute;
    align-items: center;
    font-size: 2em;
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .go-back a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
  }
  .go-back i {
    margin-right: auto;
  }

 
  
  .navbar-custom {
    background-color: #f4f4f4; /* Black background */
    border-bottom: 2px solid #000000; /* Border at the downside */
    z-index: 1;
  
    
   
  }
  .navbar-custom .navbar-text {
    margin-left: 30px; /* Adjust this value as needed */
    color: #000000; /* Black text */
    font-weight: bold; /* Text bold */
  }
  .navbar-custom .navbar-text {
    color: #000000; /* Black text */
    font-weight: bold; /* text bold */
  }
  .navbar-custom img {
    height: 80px; /* Adjust height */
    width: 150px; /* Adjust width to be more than height */
  }
  .admin-dashboard-container {
    margin-top: 70px;
  }

  
.mat-icon-account-cicle {
    font-size: 1.6rem;
    z-index: 2;
  
  }