
<app-admin-dashboard></app-admin-dashboard>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title class="justify-content-center">Product List</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <div class="product-list-container">
    <h2>Product List</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Define columns here -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let product">{{ product.id }}</td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let product">
          <img [src]="imageUrl + 'image/' + product.thumbnail?.imageUrl" width="50">
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let product">{{ product.name }}</td>
      </ng-container>
      <ng-container matColumnDef="stockQuantity">
        <th mat-header-cell *matHeaderCellDef>Stock Quantity</th>
        <td mat-cell *matCellDef="let product">{{ product.stockQuantity }}</td>
      </ng-container>
      <ng-container matColumnDef="originalPrice">
        <th mat-header-cell *matHeaderCellDef>Original Price</th>
        <td mat-cell *matCellDef="let product">{{ product.originalPrice }}</td>
      </ng-container>
      <ng-container matColumnDef="discountPercentage">
        <th mat-header-cell *matHeaderCellDef>Discount Percentage</th>
        <td mat-cell *matCellDef="let product">{{ product.discountPercentage || 'N/A' }}</td>
      </ng-container>
      <ng-container matColumnDef="newPrice">
        <th mat-header-cell *matHeaderCellDef>New Price</th>
        <td mat-cell *matCellDef="let product">{{ product.newPrice }}</td>
      </ng-container>
      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef>Category Id</th>
        <td mat-cell *matCellDef="let product">{{ product.category ? product.category.id : 'No Category' }}</td>
      </ng-container>
      <ng-container matColumnDef="brandId">
        <th mat-header-cell *matHeaderCellDef>Brand Id</th>
        <td mat-cell *matCellDef="let product">{{ product.brand ? product.brand.id : 'No Brand' }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions Figures</th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button aria-label="Edit" (click)="openEditDialog(product)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-button" (click)="openConfirmDialog(product.id)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ng-template #confirmDialog let-dialogRef="dialogRef">
      <div class="dialog-container">
        <h1 mat-dialog-title>Are you sure?</h1>
        <div mat-dialog-content class="text-dark">
          <span>Do you really want to delete this product? This process cannot be undone.</span>
        </div>
        <div mat-dialog-actions class="center-buttons">
         
          <button mat-button (click)="dialogRef.close(true)" class="confirm-button">Ok</button>
          <button mat-button (click)="dialogRef.close(false)" class="cancel-button">Cancel</button>
        </div>
      </div>
    </ng-template>
    <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
    </mat-paginator>
  </div>