
<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4
 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <span class="fs-4">Admin Dashboard</span>
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" styles="font-size: larger;">
    </nav>
    <div class="d-flex align-items-center">
        <a routerLink="/account/login" class=" btn btn-outline-secondary mr-2">logout</a>
    </div>
</div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
  
  <div style="  margin: auto;width: 100%;padding: 10px;background-position: center center;background-attachment: fixed;"> 
  <div class="row"  >
    <div class="column">
     
      <div class="card" id="">
        <h3>ADD Product</h3>
        <p>You can add new products from here!</p>
        <button type="button" routerLink="/auth/admin-page/add-product" class="btn btn-primary">Add Product</button>
      </div>
    </div>
  
    <div class="column" >
      <div class="card">
        <h3>VIEW Order history</h3>
        <p>You can view the order history of last 6 months here!</p>
        
            <button type="button" routerLink="/auth/admin-page/order-history" class="btn btn-primary">View Order history</button>
       
      </div>
    </div>
  </div>
  <br>
  
    <div class="row" >
        <div class="column" > 
            <div class="card">
                <h3>DELETE PRODUCT</h3>
                <p>You can delete the product here!</p>
                 <button type="button" routerLink="/auth/admin-page/delete-product" class="btn btn-primary">Edit product</button>
              </div>      
        </div>

        <div class="column" >

          <div class="card">
            <h3>EDIT PRODUCT</h3>
            <p>You can edit the product information here! </p>
             <button type="button" routerLink="/auth/admin-page/edit-product" class="btn btn-primary">Edit product</button>
          </div>
        </div>
    </div>
  
  
 </div>