<app-admin-dashboard></app-admin-dashboard>
<div class="header-container">
       <h2>Fill the Product Information and all fields are required.</h2>
</div>
<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
       <div class="form-row">
              <div class="form-group">
                     <label for="name">Name:</label>
                     <input id="name" formControlName="name" type="text" />
                            <div *ngIf="addProductForm.get('name')?.invalid && addProductForm.get('name')?.touched" class="error-message">
                                   Name is required.
                            </div>
              </div>
              <div class="form-group">
                <label for="originalPrice">Original Price:</label>
                <input id="originalPrice" formControlName="originalPrice" type="number" min="1000" max="250000" (input)="onInput($event)" />
                <div *ngIf="addProductForm.get('originalPrice')?.touched">
                  <div *ngIf="addProductForm.get('originalPrice')?.errors?.['required']" class="error-message">
                    Original Price is required.
                  </div>
                  <div *ngIf="addProductForm.get('originalPrice')?.errors?.['min']" class="error-message">
                    Minimum price is 1000.
                  </div>
                  <div *ngIf="addProductForm.get('originalPrice')?.errors?.['max']" class="error-message">
                    Price should not exceed Rs. 250000.
                  </div>
                  <div *ngIf="addProductForm.get('originalPrice')?.errors?.['nonNegative']" class="error-message">
                    Price must be non-negative.
                  </div>
                </div>
              </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                <label for="stockQuantity">Stock Quantity:</label>
                <input id="stockQuantity" formControlName="stockQuantity" type="number" min="0" (input)="onInput($event)" />
                <div *ngIf="addProductForm.get('stockQuantity')?.invalid && addProductForm.get('stockQuantity')?.touched" class="error-message">
                  Stock Quantity is required.
                </div>
              </div>
              <div class="form-group">
                <label for="discountPercentage">Discount Percentage:</label>
                <input id="discountPercentage" formControlName="discountPercentage" type="number" (input)="onInput($event)" />
                <div *ngIf="addProductForm.get('discountPercentage')?.touched">
                  <div *ngIf="addProductForm.get('discountPercentage')?.errors?.['nonNegative']" class="error-message">
                    Discount must be non-negative.
                  </div>
                  <div *ngIf="addProductForm.get('discountPercentage')?.errors?.['max']" class="error-message">
                    Discount cannot exceed 100%.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="categoryId">Category ID:</label>
                <input id="categoryId" formControlName="categoryId" type="number" min="0" (input)="onInput($event)"  />
                <div *ngIf="addProductForm.get('categoryId')?.invalid && addProductForm.get('categoryId')?.touched" class="error-message">
                  Category ID is required.
                </div>
              </div>
            </div>
              <div class="form-row">
              <div class="form-group">
                <label for="brandId">Brand ID:</label>
                <input id="brandId" formControlName="brandId" type="number" min="0" (input)="onInput($event)" />
                <div *ngIf="addProductForm.get('brandId')?.invalid && addProductForm.get('brandId')?.touched" class="error-message">
                  Brand ID is required.
                </div>
                  </div>
              <div class="form-group">
                <label for="thumbnail">Thumbnail:</label>
                <input id="thumbnail" type="file" (change)="onFileChange($event)" />
                <div *ngIf="thumbnailError" class="error-message">
                  {{ thumbnailError }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea id="description" formControlName="description"></textarea>
              <div *ngIf="addProductForm.get('description')?.invalid && addProductForm.get('description')?.touched" class="error-message">
               Description is required.
              </div>
            </div>
            <br>
            <div class="button-container">
              <button type="submit" [disabled]="addProductForm.invalid">Add Product</button>
            </div>
            <br>
            <!-- Add this line to check if the form is invalid -->
            <p *ngIf="addProductForm.invalid" click(onSubmit) class="error-message">Please fill out all required fields.</p>
          </form>

