

.go-back {
    margin-top: -40px; /* Adjust this value as needed to position below the navbar */
    margin-left: 40px; /* Adjust this value for spacing from the left */
    display: flex;
    position: absolute;
    align-items: center;
    font-size: 2em;
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .go-back a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
  }
  .go-back i {
    margin-right: auto;
  }

.header-container {
    text-align: center;
    margin-bottom: 20px;
   }
   form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
   .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
   }
   .form-group {
    flex: 1;
    margin-right: 10px;
   }
   .form-group:last-child {
    margin-right: 0;
   }
   form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
   }
   form input[type="text"],
   form input[type="number"],
   form input[type="file"],
   form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
   }
   form textarea {
    height: 100px;
    resize: vertical;
   }
   .button-container {
    text-align: center;
   }
   button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   }
   button[type="submit"]:hover {
    background-color: #0056b3;
   }
   .error-message {
    color: red;
    font-size: 1.1em;
    font-weight: bold  ;
  }

  .navbar-custom {
    background-color: #f4f4f4; /* Black background */
    border-bottom: 2px solid #000000; /* Border at the downside */
  
    
   
  }
  .navbar-custom .navbar-text {
    margin-left: 30px; /* Adjust this value as needed */
    color: #000000; /* Black text */
    font-weight: bold; /* Text bold */
  }
  .navbar-custom .navbar-text {
    color: #000000; /* Black text */
    font-weight: bold; /* text bold */
  }
  .navbar-custom img {
    height: 80px; /* Adjust height */
    width: 150px; /* Adjust width to be more than height */
  }
  .admin-dashboard-container {
    margin-top: 70px;
  }
