<app-admin-dashboard></app-admin-dashboard>
<div class="main-content">
  <div class="admin-dashboard-container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">ADD PRODUCT</h3>
            <p class="card-text">You can add new products from here!</p>
            <button type="button" routerLink="/auth/admin-page/add-product" class="btn btn-custom">Click here</button>
          </div>
        </div>
      </div>
     
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">VIEW PRODUCTS</h3>
            <p class="card-text">You can manage the products here!</p>
            <button type="button" routerLink="/auth/admin-page/view-product" class="btn btn-custom">Click here</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">VIEW ORDER HISTORY</h3>
            <p class="card-text">You can view the order history of last 6 months here!</p>
            <button type="button" routerLink="/auth/admin-page/order-history" class="btn btn-custom">Click here</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>